{
	"useTabs": true,
	"tabWidth": 4,
	"singleQuote": true,
	"trailingComma": "es5",
	"printWidth": 100,
	"arrowParens": "always",
	"svelteAllowShorthand": true,
	"svelteIndentScriptAndStyle": true,
	"svelteSortOrder": "options-scripts-markup-styles",
	"bracketSameLine": false,
	"svelteBracketNewLine": true,
	"semi": true,
	"plugins": ["prettier-plugin-svelte"],
	"pluginSearchDirs": ["."],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
